<h1 id="<%= css_module("pages", :header) %>">Header</h1>
<% css_module("pages") do |pages| %>
  <p class="<%= pages.selector("paragraph main-paragraph", "pull-left") %>">Paragraph</p>
  <%= link_to "here", {}, class: pages.selector(:link) %>
<% end %>

<% null_module = css_module(nil) %>
<%= link_to "null here", {}, class: null_module.selector("link") %>

<div class="<%= css_module("pages", "footer", "make-it-pop") %>">Footer</div>

<p class="module-name"><%= css_module("pages").name %></p>
